@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office&display=swap');

/* Variables to change colors easily */
:root {
    --backgroundColor: #4d302d;
    --headerTitle: whitesmoke;
    --headerText: #ebe4d2;
    --blueButtons: #af1f24;
}

/* CSS Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Ysabeau Office', sans-serif;
}

/* Header styling */
.header {
    background-color: var(--backgroundColor);
    color: var(--headerText);
    padding: 15px;
}

.up-header, .nav-links ul, .low-header {
    display: flex;
}

.up-header {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-left: 10vw;
    margin-right: 10vw;
}

.low-header {
    gap: 30px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 450px;
    overflow: hidden;
    border-radius: 10px;
    flex-shrink: 0;
}
.responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    margin: 0;
    padding: 0;
    gap:1em;
    list-style: none;
    flex: 1;
}

ul a {
    text-decoration: none;
    color: var(--headerText);
}

h1, h2, h3, h4 {
    font-family: 'Amatic SC', cursive;
}

h1, h3, h4 {
    color: var(--headerTitle);
}

h1 {
    font-size: 64px;
}

h2 {
    color: var(--backgroundColor);
    text-align: center;
    font-size: 48px;
    padding: 30px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

.text-header {
    font-size: 18px;
}

button {
    background-color: var(--blueButtons);
    color: var(--headerTitle);
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

/* Content styling */
.cards {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:36px;
    padding: 5px;
}

.image-card {
    width: 150px;
    height: 150px;
    border: 3px solid var(--headerText);
    border-radius: 10px;
    overflow: hidden;
}

.text-card {
    color: var(--backgroundColor);
    width: 150px;
    text-align: center;
    padding-top: 5px;
}

.quote {
    color: var(--backgroundColor);
    background-color: var(--headerText);
    margin-top: 50px;
    padding: 100px;
}

blockquote {
   text-align: center;
    font-size: 36px;
    font-style: italic;
}

.author {
    font-weight: bold;
    text-align: right;
    font-size: 18px;
}

.call-to-action {
    color: var(--headerText);
    background-color: var(--blueButtons);
    margin: 60px;
    padding: 50px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}

.call-to-action button {
    border: solid white 2px;
}

/* Footer styling */
.footer {
    background-color: var(--backgroundColor);
    color: var(--headerText);
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    .text-header {
        font-size: 16px;
    }

    .up-header {
        margin: 0;
    }

    .image-placeholder { 
        width: 150px;
    }

    .call-to-action  {
        gap: 20px;
    }
  
  }