@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

/* Variables to change colors easily */
:root {
    --backgroundColor: #1F2937;
    --headerTitle: #F9FAF8;
    --headerText: #E5E7EB
}

/* CSS Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: var(--backgroundColor);
    color: var(--headerText);
}