@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

/* Variables to change colors easily */
:root {
    --backgroundColor: #1F2937;
    --headerTitle: #F9FAF8;
    --headerText: #E5E7EB;
    --blueButtons: #3882F6;
}

/* CSS Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header styling */
.header {
    background-color: var(--backgroundColor);
    color: var(--headerText);
    padding: 15px 300px;
}

.up-header, .nav-links ul, .low-header {
    display: flex;
}

.up-header {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.low-header {
    gap: 30px;
    padding-bottom: 60px;
}

ul {
    gap:1em;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: var(--headerText);
}

h1, h3, h4 {
    color: var(--headerTitle);
}

h1 {
    font-size: 48px;
}

h2 {
    color: var(--backgroundColor);
    text-align: center;
    padding: 30px;
}

h4 {
    font-size: 24px;
}

.text-header {
    font-size: 18px;
}

.image-placeholder {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    flex-shrink: 0;
}

button {
    background-color: var(--blueButtons);
    color: var(--headerTitle);
    padding: 5px 20px;
    margin-top: 10px;
    border: solid white 2px;
    border-radius: 5px;
}

/* Content styling */
.cards {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:36px;
    padding: 5px 300px;
}

.image-card {
    width: 150px;
    height: 150px;
    border: 3px solid var(--blueButtons);
    border-radius: 10px;
}

.text-card {
    color: var(--backgroundColor);
    width: 150px;
    text-align: center;
    padding-top: 5px;
}

.quote {
    color: var(--backgroundColor);
    background-color: var(--headerText);
    margin-top: 50px;
    padding: 100px 400px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
}

.author {
    font-weight: bold;
    text-align: right;
}

.call-to-action {
    color: var(--headerText);
    background-color: var(--blueButtons);
    margin: 60px 300px;
    padding: 50px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}

/* Footer styling */
.footer {
    background-color: var(--backgroundColor);
    color: var(--headerText);
    text-align: center;
    padding: 20px 300px;
}